

/* Pricing package title styling */
.pricing-package{
    padding: 8px;
    border: 1px solid #000000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: none;
}
.first-package{
    background-color: #06a7fa;
    color: white;
    border-top-left-radius: 15px;
}
.second-package{
    background-color: #fa5906;
    color: white;
}
.third-package{
    background-color: #5706fa;
    color: white;
}
.fourth-package{
    background-color: #000203;
    color: white;
    border-top-right-radius: 15px;
}

/* Pricing package title styling */

/* RMS section work here */
.rms{
    background-color: #24114a;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}
.rms h4{
    font-size: 20px;
    font-weight: 700;
    color: white;
    transform: rotate(-90deg);
    margin-top: 60px;
}
.heading{
    color: #032657;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}
.empasis{
    line-height: 25px;
    font-size: 13px;
    font-style: italic;
    color: #0A0A0A;
}
.row-border{
    border: 1px solid #797979;
    height: 100px;
}

/* //tikmark section here */

.tikmark img{
    display: inline-block;
    height:50px;
    width:60px;
    margin: auto;
    
    
}
.tikmark{
    height: 100px;
    
}
/* //within td border work not done yet. */

/* second package table row starts */
.second-row-package-table .rms h4{
    margin-top: 80px;
}

/* third package table row starts */
.third-row-package-table .rms h4{
    margin-top: 20px;
}